BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
---
Language: Cpp
Standard: c++17
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AllowShortFunctionsOnASingleLine: Empty
BraceWrapping:
  AfterClass: true
  AfterFunction: true
SortIncludes: true
